fastapi==0.120.2
shared==0.0.32
SQLAlchemy==2.0.44
openai==1.109.1
openai-agents==0.3.2
openai-agents[litellm]
uvicorn[standard]
SQLAlchemy==2.0.44
pydantic==2.11.7
pydantic-settings==2.11.0
pydantic_core==2.33.2
aiosqlite==0.21.0
redis
PyMuPDF==1.26.5
python-dotenv==1.0.1
python-engineio==4.9.0
python-multipart==0.0.20
python-socketio==5.11.1
asyncpg
pydantic[email,timezone]
aioboto3